<div class="workspace-background">
  <h2>Nueva siembra</h2>
  <div class="mb-3 row">
    <div class="col-md-6">
      <label class="form-label" for="terreno">Terreno:</label>
      <select
        class="form-select"
        aria-label="Default select example"
        id="terreno"
      >
        <option selected>-Seleccionar terreno</option>
        <option value="1">El juncal</option>
        <option value="2">La reserva</option>
        <option value="3">Terreno 1</option>
      </select>
    </div>
    <div class="col-md-6">
      <label class="form-label" for="semilla-siembra"
        >Ctd. Semilla siembra:</label
      >
      <input id="semilla-siembra" class="form-control" type="number" />
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-md-6">
      <label class="form-label" for="unidad-medida">Unidad medida:</label>
      <select
        class="form-select"
        aria-label="Default select example"
        id="unidad-medida"
      >
        <option selected>-Seleccionar</option>
        <option value="1">Metros</option>
        <option value="2">Hectárea</option>
        <option value="3">Kilometro</option>
      </select>
    </div>
    <div class="col-md-6">
      <label class="form-label" for="semilla-cosecha"
        >Ctd. Semilla cosecha:</label
      >
      <input id="semilla-cosecha" class="form-control" type="number" />
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-md-6">
      <label class="form-label" for="startDate">Fecha siembra:</label>
      <input id="fechaSiembra" class="form-control" type="date" />
    </div>
  </div>

  <button type="button" class="btn btn-success me-2">Crear</button>
  <button type="button" class="btn btn-secondary">Cancelar</button>
</div>
