<div class="workspace-background" [formGroup]="formMantenimiento">
  <h2>{{esEdicion ? 'Editar ' : 'Nuevo '}}mantenimiento</h2>
  <div class="mb-3 row">
    <div class="col-md-6">
      <label class="form-label" for="plaga">Plaga:</label>
      <select
        class="form-select"
        aria-label="Default select example"
        id="plaga" formControlName="IdControlPlagas" required>
        <option *ngFor="let plaga of listaPlagas; let i = index" [value]="plaga.id">{{plaga.Nombre}}</option>
      </select>
      <app-alertas *ngIf="campoInValido('IdControlPlagas')" [color]="colorAlertas.danger" [mensaje]="obtenerErrorDeCampo('IdControlPlagas')"></app-alertas>
    </div>

    <div class="col-md-6">
      <label class="form-label" for="terreno">Fertilizante:</label>
      <select
        class="form-select"
        aria-label="Default select example"
        id="terreno" formControlName="IdFertilizante">
        <option *ngFor="let fertilizante of listaFertilizantes; let i = index" [value]="fertilizante.id">{{fertilizante.Nombre}}</option>
      </select>
      <app-alertas *ngIf="campoInValido('IdFertilizante')" [color]="colorAlertas.danger" [mensaje]="obtenerErrorDeCampo('IdFertilizante')"></app-alertas>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-md-6">
      <label class="form-label" for="plaga">Frecuencia riego:</label>
      <select
        class="form-select"
        aria-label="Default select example"
        id="plaga" formControlName="IdFrecuenciaRiego" required>
        <option *ngFor="let frecuencia of listaFrecuencias; let i = index" [value]="frecuencia.id">{{frecuencia.Descripcion}}</option>
      </select>
      <app-alertas *ngIf="campoInValido('IdFrecuenciaRiego')" [color]="colorAlertas.danger" [mensaje]="obtenerErrorDeCampo('IdFrecuenciaRiego')"></app-alertas>
    </div>
    <div class="col-md-6">
      <label class="form-label" for="fechaMantenimiento">Fecha mantenimineto:</label>
      <input id="fechaMantenimiento" class="form-control" type="date" formControlName="FechaMantenimiento" required/>
      <app-alertas *ngIf="campoInValido('FechaMantenimiento')" [color]="colorAlertas.danger" [mensaje]="obtenerErrorDeCampo('FechaMantenimiento')"></app-alertas>
    </div>
  </div>

  <button type="button" class="btn btn-success me-2" (click)="guardar()">Guardar</button>
    <a href="#/mantenimientos"><button type="button" class="btn btn-secondary">Regresar</button></a>
</div>
