
<div class="workspace-background">
    <h2>Dashboard</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="img-style p-5">
                    <img class="img-card" src="../../../assets/img/journal-check.svg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Planificaciones</h5>
                  <p class="card-text">3 en curso</p>
                  <p class="card-text">2 finalizadas</p>
                  <a href="#" class="btn btn-secondary">5 UN</a>
                </div>
              </div>
        </div>
    
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="img-style p-5">
                    <img src="../../../assets/img/shop.svg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Cosecha estimada</h5>
                  <p class="card-text">500 kilogramos almacenados</p>
                  <p class="card-text">500 kilogramos por cosechar</p>
                  <a href="#" class="btn btn-secondary">1000 KG</a>
                </div>
              </div>
        </div>
    
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="img-style p-5">
                    <img src="../../../assets/img/tree.svg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Plantas afectadas</h5>
                  <p class="card-text">200 en tratamiento</p>
                  <p class="card-text">320 recuperadas</p>
                  <p class="card-text">50 perdida total</p>
                  <a href="#" class="btn btn-secondary">570 UN</a>
                </div>
              </div>
        </div>
    </div>
</div>

