<div class="workspace-background">
  <h2>Dashboard</h2>
  <div class="row mt-4">
    <div class="col col-md-6 mb-2">
      <div class="card mb-3" style="width: 100%;">
        <div class="row g-0">
          <div class="col-md-2 p-2">
            <img src="../../../assets/img/journal-check.svg" width="150" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">Planificaciones</h5>
              <ul>
                <li>Cantidad: <b>{{listaPlanificaciones.length}}</b> </li>
                <li>En preparación del terreno: <b>{{totalPreparacionTerreno}}</b> </li>
                <li>En siembra: <b>{{totalSiembra}}</b> </li>
                <li>En cosecha: <b>{{totalCosecha}}</b> </li>
                <li>En postcosecha: <b>{{totalPostCosecha}}</b> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-md-6 mb-2">
      <div class="card mb-3" style="width: 100%;">
        <div class="row g-0">
          <div class="col-md-2 p-2">
            <img src="../../../assets/img/globe-europe-africa.svg" width="150" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">Terrenos</h5>
              <ul>
                <li>Cantidad: <b>{{listaTerrenos.length}}</b> </li>
                <li>Total Mts2: <b>{{totalMetros | number:'1.2-2'}}</b> </li>
                <li>Total Kilometros: <b>{{totalKm | number:'1.2-2'}}</b> </li>
                <li>Total Hectáreas: <b>{{totalHa | number:'1.2-2'}}</b> </li>
                <li>Altura promedio msnv: <b>{{alturaPromedio | number:'1.2-2'}}</b> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-md-6 mb-2">
      <div class="card mb-3" style="width: 100%;">
        <div class="row g-0">
          <div class="col-md-2 p-2">
            <img src="../../../assets/img/tree.svg" width="150" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">Siembras</h5>
              <ul>
                <li>Cantidad: <b>{{listaSiembras.length}}</b> </li>
                <li>Total semilla sembrada: <b>{{totalSemillaSiembra | number:'1.2-2'}}</b> </li>
                <li>Total cosecha estimada: <b>{{totalCosechaEstimada | number:'1.2-2'}}</b> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-md-6 mb-2">
      <div class="card mb-3" style="width: 100%;">
        <div class="row g-0">
          <div class="col-md-2 p-2">
            <img src="../../../assets/img/shop.svg" width="150" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">Cosechas</h5>
              <ul>
                <li>Cantidad: <b>{{listaCosechas.length}}</b> </li>
                <li>Total cosecha: <b>{{TotalCosecha | number:'1.2-2'}}</b> </li>
                <li>Total buen estado: <b>{{CtdBuenEstado | number:'1.2-2'}}</b> </li>
                <li>Total mal estado: <b>{{CtdMalEstado | number:'1.2-2'}}</b> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>