<div class="workspace-background">
  <h2>Dashboard</h2>
  <div class="row mt-4">
    <div class="col col-md-4 mb-2">
      <div class="card">
        <div class="card-body">
          <img src="../../../assets/img/journal-check.svg" width="100" height="100" class="card-img-top" alt="...">
          <h5 class="card-title">Planificaciones</h5>
          <p class="m-0">3 en curso</p>
          <p class="m-0">2 finalizadas</p>
        </div>
      </div>
    </div>

    <div class="col col-md-4 mb-2">
      <div class="card">
        <div class="card-body">
          <img src="../../../assets/img/shop.svg" width="100" height="100" class="card-img-top" alt="...">
          <h5 class="card-title">Planificaciones</h5>
          <p class="m-0">3 en curso</p>
          <p class="m-0">2 finalizadas</p>
        </div>
      </div>
    </div>

    <div class="col col-md-4 mb-2">
      <div class="card">
        <div class="card-body">
          <img src="../../../assets/img/tree.svg" width="100" height="100" class="card-img-top" alt="...">
          <h5 class="card-title">Planificaciones</h5>
          <p class="m-0">3 en curso</p>
          <p class="m-0">2 finalizadas</p>
        </div>
      </div>
    </div>

    <div class="col col-md-4 mb-2">
      <div class="card">
        <div class="card-body">
          <img src="../../../assets/img/journal-check.svg" width="100" height="100" class="card-img-top" alt="...">
          <h5 class="card-title">Planificaciones</h5>
          <p class="m-0">3 en curso</p>
          <p class="m-0">2 finalizadas</p>
        </div>
      </div>
    </div>

    <div class="col col-md-4 mb-2">
      <div class="card">
        <div class="card-body">
          <img src="../../../assets/img/shop.svg" width="100" height="100" class="card-img-top" alt="...">
          <h5 class="card-title">Planificaciones</h5>
          <p class="m-0">3 en curso</p>
          <p class="m-0">2 finalizadas</p>
        </div>
      </div>
    </div>

    <div class="col col-md-4 mb-2">
      <div class="card">
        <div class="card-body">
          <img src="../../../assets/img/tree.svg" width="100" height="100" class="card-img-top" alt="...">
          <h5 class="card-title">Planificaciones</h5>
          <p class="m-0">3 en curso</p>
          <p class="m-0">2 finalizadas</p>
        </div>
      </div>
    </div>
  </div>

</div>